---
- lineinfile: dest=~/.bash_profile line='# for asdf by ansible-mac-setup'
- lineinfile: dest=~/.bash_profile line='if [ -n "$ZSH_VERSION" ]; then'
- lineinfile: dest=~/.bash_profile line='  autoload -U bashcompinit'
- lineinfile: dest=~/.bash_profile line='  bashcompinit'
- lineinfile: dest=~/.bash_profile line='fi'
- lineinfile: dest=~/.zshrc line='# for asdf by ansible-mac-setup'
- lineinfile: dest=~/.zshrc line='# export ASDF_PREFIX="$(brew --prefix asdf)"'
- lineinfile: dest=~/.zshrc line='# source $ASDF_PREFIX/libexec/asdf.sh'
- lineinfile: dest=~/.zshrc line='# source $ASDF_PREFIX/etc/bash_completion.d/asdf.bash'
- lineinfile: dest=~/.zshrc line='# for asdf by ansible-mac-setup(over 0.16)'
- lineinfile: dest=~/.zshrc line='export ASDF_DATA_DIR="$HOME/.asdf"'
- lineinfile: dest=~/.zshrc line='export PATH="$ASDF_DATA_DIR/shims:$PATH"'
- lineinfile: dest=~/.zshrc line='# poetry config virtualenvs.in-project true'

# ---------- update list ----------
- name: update plugin-list
  shell: asdf plugin update --all

# ---------- gcloud ----------
- name: check gcloud
  stat: path=~/.asdf/plugins/gcloud
  register: gcloud_result

- name: install gcloud
  shell: asdf plugin add gcloud https://github.com/jthegedus/asdf-gcloud.git
  when: not gcloud_result.stat.exists

- name: install latest gcloud
  shell: asdf install gcloud $(asdf list all gcloud | grep -v '^$' | tail -n 1)

- name: set latest gcloud version
  shell: asdf set --home gcloud $(asdf list all gcloud | grep -v '^$' | tail -n 1)

# ---------- awscli ----------
- name: check awscli
  stat: path=~/.asdf/plugins/awscli
  register: awscli_result

- name: install awscli
  shell: asdf plugin add awscli https://github.com/MetricMike/asdf-awscli.git
  when: not awscli_result.stat.exists

- name: install latest awscli
  shell: asdf install awscli $(asdf list all awscli | grep -v '^$' | tail -n 1)

- name: set latest awscli version
  shell: asdf set --home awscli $(asdf list all awscli | grep -v '^$' | tail -n 1)

# ---------- aws-iam-authenticator ----------
- name: check aws-iam-authenticator
  stat: path=~/.asdf/plugins/aws-iam-authenticator
  register: aws_iam_auth_result

- name: install aws-iam-authenticator
  shell: asdf plugin add aws-iam-authenticator https://github.com/zekker6/asdf-aws-iam-authenticator
  when: not aws_iam_auth_result.stat.exists

- name: install latest aws-iam-authenticator
  shell: asdf install aws-iam-authenticator $(asdf list all aws-iam-authenticator | grep -v alpha | grep -v '^$' | tail -n 1)

- name: set latest aws-iam-authenticator version
  shell: asdf set --home aws-iam-authenticator $(asdf list all aws-iam-authenticator | grep -v alpha | grep -v '^$' | tail -n 1)

# ---------- terraform ----------
- name: check terraform
  stat: path=~/.asdf/plugins/terraform
  register: tf_result

- name: install terrafrom
  shell: asdf plugin add terraform https://github.com/Banno/asdf-hashicorp.git
  when: not tf_result.stat.exists

- name: install latest terraform
  shell: asdf install terraform $(asdf list all terraform | grep -v beta | grep -v rc | grep -v alpha | grep -v '^$' | tail -n 1)

- name: set latest terraform version
  shell: asdf set --home terraform $(asdf list all terraform | grep -v beta | grep -v rc | grep -v alpha | grep -v '^$' | tail -n 1)

# ---------- erlang ----------
- name: check erlang
  stat: path=~/.asdf/plugins/erlang
  register: erlang_result

- name: install erlang
  shell: asdf plugin add erlang https://github.com/asdf-vm/asdf-erlang.git
  when: not erlang_result.stat.exists

- name: install latest erlang
  shell: asdf install erlang $(asdf list all erlang | grep -v rc | grep -v R | grep -v '^$' | tail -n 1)

- name: set latest erlang version
  shell: asdf set --home erlang $(asdf list all erlang | grep -v rc | grep -v R | grep -v '^$' | tail -n 1)

- name: check rebar
  stat: path=~/.asdf/plugins/rebar
  register: rebar_result

- name: install rebar
  shell: asdf plugin add rebar https://github.com/Stratus3D/asdf-rebar.git
  when: not rebar_result.stat.exists

- name: install latest rebar
  shell: asdf install rebar $(asdf list all rebar | grep -v rc | grep -v '^$' | tail -n 1)

- name: set latest rebar version
  shell: asdf set --home rebar $(asdf list all rebar | grep -v rc | grep -v '^$' | tail -n 1)

# ---------- elixir ----------
- name: check elixir
  stat: path=~/.asdf/plugins/elixir
  register: elixir_result

- name: install elixir
  shell: asdf plugin add elixir https://github.com/asdf-vm/asdf-elixir.git
  when: not elixir_result.stat.exists

- name: install latest elixir
  shell: asdf install elixir $(asdf list all elixir | grep -v master | grep -v main | grep -v rc | grep -v otp | grep -v '^$' | tail -n 1)

- name: set laster elixir version
  shell: asdf set --home elixir $(asdf list all elixir | grep -v master | grep -v main | grep -v rc | grep -v otp | grep -v '^$' | tail -n 1)

# ---------- ruby ----------
- name: check ruby
  stat: path=~/.asdf/plugins/ruby
  register: ruby_result

- name: install ruby
  shell: asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
  when: not ruby_result.stat.exists

- name: install latest ruby
  shell: asdf install ruby $(asdf list all ruby | grep "^\d.*" | grep -v dev | grep -v preview | grep -v rc | grep -v '^$' | tail -n 1)

- name: set latest ruby version
  shell: asdf set --home ruby $(asdf list all ruby | grep "^\d.*" | grep -v dev | grep -v preview | grep -v rc | grep -v '^$' | tail -n 1)

# ---------- nodejs ----------
- name: check nodejs
  stat: path=~/.asdf/plugins/nodejs
  register: nodejs_result

- name: install nodejs
  shell: asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
  when: not nodejs_result.stat.exists

- name: install latest nodejs
  shell: asdf install nodejs $(asdf list all nodejs | grep -v '^$' | tail -n 1)

- name: set latest nodejs version
  shell: asdf set --home nodejs $(asdf list all nodejs | grep -v '^$' | tail -n 1)

- name: check yarn
  stat: path=~/.asdf/plugins/yarn
  register: yarn_result

- name: install yarn
  shell: asdf plugin add yarn https://github.com/twuni/asdf-yarn.git
  when: not yarn_result.stat.exists

- name: install latest yarn
  shell: asdf install yarn $(asdf list all yarn | grep -v '^$' | tail -n 1)

- name: set latest yarn version
  shell: asdf set --home yarn $(asdf list all yarn | grep -v '^$' | tail -n 1)

# ---------- pnpm ----------
- name: check pnpm
  stat: path=~/.asdf/plugins/pnpm
  register: pnpm_result

- name: install pnpm
  shell: asdf plugin add pnpm https://github.com/jonathanmorley/asdf-pnpm.git
  when: not pnpm_result.stat.exists

- name: install latest pnpm
  shell: asdf install pnpm $(asdf list all pnpm | grep -v '^$' | grap -v dev | grep -v alpha | grep -v test | tail -n 1)

- name: set latest pnpm version
  shell: asdf set --home pnpm $(asdf list all pnpm | grep -v '^$' | grep -v dev | grep -v alpha | grep -v test | tail -n 1)

# ---------- bun ----------
- name: check bun
  stat: path=~/.asdf/plugins/bun
  register: bun_result

- name: install bun
  shell: asdf plugin add bun https://github.com/cometkim/asdf-bun.git
  when: not bun_result.stat.exists

- name: install latest bun
  shell: asdf install bun $(asdf list all bun | grep -v '^$' | tail -n 1)

- name: set latest bun version
  shell: asdf set --home bun $(asdf list all bun | grep -v '^$' | tail -n 1)

# ---------- python ----------
- name: check python
  stat: path=~/.asdf/plugins/python
  register: python_result

- name: install python
  shell: asdf plugin add python https://github.com/asdf-community/asdf-python.git
  when: not python_result.stat.exists

#- name: install latest python2
#  shell: asdf install python $(asdf list all python | grep "^2.*" | grep -v dev | grep -v '^$' | tail -n 1)

- name: install latest python3
  shell: asdf install python $(asdf list all python | grep "^3.12.*" | grep -v dev | grep -v '^$' | tail -n 1)

- name: set latest python
  shell: asdf set --home python $(asdf list all python | grep "^3.12.*" | grep -v dev | grep -v '^$' | tail -n 1)

#- name: install latest anaconda
#  shell: asdf install python $(asdf list all python | grep "^anaconda3" | grep -v '^$' | tail -n 1)

- name: check poetry
  stat: path=~/.asdf/plugins/poetry
  register: poetry_result

- name: install poetry
  shell: asdf plugin add poetry https://github.com/asdf-community/asdf-poetry.git
  when: not poetry_result.stat.exists

- name: install latest poetry
  shell: asdf install poetry $(asdf list all poetry | grep -v rc | grep -v '^$' | tail -n 1)

- name: set latest poetry
  shell: asdf set --home poetry $(asdf list all poetry | grep -v rc | grep -v '^$' | tail -n 1)

# ---------- golang ----------
- name: check golang
  stat: path=~/.asdf/plugins/golang
  register: golang_result

- name: install golang
  shell: asdf plugin add golang https://github.com/kennyp/asdf-golang.git
  when: not golang_result.stat.exists

- name: install latest golang
  shell: asdf install golang $(asdf list all golang | grep -v beta | grep -v rc | grep -v '^$' | tail -n 1)

- name: set latest golang version
  shell: asdf set --home golang $(asdf list all golang | grep -v beta | grep -v rc | grep -v '^$' | tail -n 1)

# ---------- rust ----------
- name: check rust
  stat: path=~/.asdf/plugins/rust
  register: rust_result

- name: install rust
  shell: asdf plugin add rust https://github.com/code-lever/asdf-rust.git
  when: not rust_result.stat.exists

- name: install latest rust
  shell: asdf install rust $(asdf list all rust | grep -v beta | grep -v stable | grep -v nightly | grep -v '^$' | tail -n 1)

- name: set latest rust version
  shell: asdf set --home rust $(asdf list all rust | grep -v beta | grep -v stable | grep -v nightly | grep -v '^$' | tail -n 1)

# ---------- java ----------
- name: check java
  stat: path=~/.asdf/plugins/java
  register: java_result

- name: install java
  shell: asdf plugin add java https://github.com/halcyon/asdf-java.git
  when: not java_result.stat.exists

- name: install latest openjdk
  shell: asdf install java $(asdf list all java | grep openjdk | grep -v '^$' | tail -n 1)

- name: set latest java version
  shell: asdf set --home java $(asdf list all java | grep openjdk | grep -v '^$' | tail -n 1)

# ---------- gauche ----------

- name: check gauche
  stat: path=~/.asdf/plugins/gauche
  register: gauche_result

- name: install gauche
  shell: asdf plugin add gauche
  when: not gauche_result.stat.exists

#- name: install latest gauche
#  shell: asdf install gauche $(asdf list all gauche | grep -v '^$' | tail -n 1)

#- name: set latest gauche version
#  shell: asdf set --home gauche $(asdf list all gauche | grep -v '^$' | tail -n 1)

# ---------- kubectx ----------

- name: check kubectx
  stat: path=~/.asdf/plugins/kubectx
  register: kubectx_result

- name: install kubectx
  shell: asdf plugin add kubectx
  when: not kubectx_result.stat.exists

- name: install latest kubectx
  shell: asdf install kubectx $(asdf list all kubectx | grep -v '^$' | tail -n 1)

- name: set latest kubectx version
  shell: asdf set --home kubectx $(asdf list all kubectx | grep -v '^$' | tail -n 1)

# ---------- minikube ----------
- name: check minikube
  stat: path=~/.asdf/plugins/minikube
  register: minikube_result

- name: install minikube
  shell: asdf plugin add minikube https://github.com/alvarobp/asdf-minikube.git
  when: not minikube_result.stat.exists

- name: install latest minikube
  shell: asdf install minikube $(asdf list all minikube | grep -v beta | grep -v '^$' | tail -n 1)

- name: set latest minikube version
  shell: asdf set --home minikube $(asdf list all minikube | grep -v beta | grep -v '^$' | tail -n 1)

# ---------- packer ----------
#- name: check packer
#  stat: path=~/.asdf/plugins/packer
#  register: pk_result

#- name: install packer
#  shell: asdf plugin add packer https://github.com/Banno/asdf-hashicorp.git
#  when: not pk_result.stat.exists

#- name: install latest packer
#  shell: asdf install packer $(asdf list all packer | grep -v '^$' | tail -n 1)

#- name: set latest packer version
#  shell: asdf set --home packer $(asdf list all packer | grep -v '^$' | tail -n 1)

# ---------- elm ----------
#- name: check elm
#  stat: path=~/.asdf/plugins/elm
#  register: elm_result

#- name: install elm
#  shell: asdf plugin add elm https://github.com/asdf-community/asdf-elm.git
#  when: not elm_result.stat.exists

#- name: install latest elm
#  shell: asdf install elm $(asdf list all elm | grep -v alpha | grep -v '^$' | tail -n 1)

#- name: set latest elm version
#  shell: asdf set --home elm $(asdf list all elm | grep -v alpha | grep -v '^$' | tail -n 1)

# ---------- mysql ----------
#- name: check mysql
#  stat: path=~/.asdf/plugins/mysql
#  register: mysql_result

#- name: install mysql
#  shell: asdf plugin add mysql https://github.com/iroddis/asdf-mysql.git
#  when: not mysql_result.stat.exists

#- name: install latest mysql
#  shell: asdf install mysql $(asdf list all mysql | grep -v '^$' | tail -n 1)

#- name: set latest mysql version
#  shell: asdf set --home mysql $(asdf list all mysql | grep -v '^$' | tail -n 1)

